<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Медичний 3D друк</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>

<body>
    <header class="header" id="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-6">
                    <div class="logo">
                        <a href="#">
                            <img src="img/logo.svg" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 menu_box ">
                    <ul class="nav main_menu">
                        <li><a href="#">Послуги</a></li>
                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Соціальний проект</a></li>
                        <li><a href="#">Школа 3D друку</a></li>
                        <li><a href="#">Наші контакти</a></li>
                    </ul>
                    <!-- HTML структура кастомного селекта -->
                </div>
                <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                    <div class="custom_select_wrapper">
                        <div class="custom_select">
                            <div class="select_trigger">
                                <span>EN</span>
                            </div>
                            <div class="options_container">
                                <div class="select_option selected" data-value="en">EN</div>
                                <div class="select_option" data-value="ua">UA</div>
                            </div>
                        </div>
                        <!-- Скрытый select для работы с формами -->
                        <select class="hidden_select" name="language">
                            <option value="en" selected>EN</option>
                            <option value="ua">UA</option>
                        </select>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#exampleModal" class="main_btn">консультація</a>
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    